.container{
    width: 100%;


}

.photo{
    float: left;
}
h1{
    margin: 0 0 0 30px;
    font-size: 50px;

}
.content,.album{
    float:right;

}
.text{
    font-size: 48px;
    margin: 30px 0 70px  0;

}
.texts{
    float: right;
    font-size:35px;
    margin: 15px 10px;

}
.line{
     text-decoration: line-through;
    text-decoration-color: black;
 }
.price{
    color:red;
    display: inline-block;
}
.active{
    float:left;
}

.cost{
     display: inline-block;
}
.costs{
    display: inline-block;
    font-size:70px;
    color:black;

    -moz-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
-o-transform:rotate(90deg);
transform:rotate(90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}