
 @font-face {
     font-family: 'YourWebFontName';
     src: url('qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff');
 }
.photo{
    float: left;
    margin: 0;
}
h1{
    font-family: 'YourWebFontName';
    margin: 0 0 0 30px;
    font-size: 60px;
    letter-spacing:30px
}
.title{
    font-family: 'YourWebFontName';
    margin: 0 0 0 40px;
    font-size: 70px;
    letter-spacing:30px;
    position: absolute;
    top:180px;
    font-weight: bold
}
.hedline{
    font-family: 'YourWebFontName';
    margin: 0 0 0 40px;
    font-size: 55px;
    letter-spacing:40px;
    position: absolute;
    top: 300px;
    font-weight: bold;
    line-height:200%;

}
.content{
    float:right;
    margin: 0;
    height: 550px;
}
.album{
    float:right;
    margin: 0;
}
.text{
    font-family: 'YourWebFontName';
    font-size: 48px;
    margin: 30px 0 70px  0;
    letter-spacing:18px;
    line-height:200%;
    font-weight: bold

}
.texts{
    font-family: 'YourWebFontName';
    float: right;
    font-size:35px;
    letter-spacing:18px;
    line-height:62px;
    font-weight: bold

}
.line{
     text-decoration: line-through;
    text-decoration-color: black;
 }
.price{
    color:red;
    margin: 10px;
}

.cost{
     display: inline-block;
}
.costs{
    font-family: 'YourWebFontName';
    display: inline-block;
    font-size: 70px;
    color:black;
transform:rotate(90deg);

}
.align{
    font-family: 'YourWebFontName';

    height: 60px;
    letter-spacing:18px;
    line-height:62px;
    font-weight: bold
}
.mark{position:relative;

    width:50px;
display: inline-block;}
 .mark::before{content: "";
    position: absolute;
    left: 15px;
    top: -30px;
    width: 150%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    transform-origin: bottom center;
    transform: rotateZ(21deg) scale(1.414);
    animation: slash 5s infinite ease;
  font-weight: bold}
            .mark::after{
                content: "";
    position: absolute;
    left: 15px;
    top: -30px;
    width: 150%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    transform-origin: bottom center;
    transform: rotateZ(160deg) scale(1.414);
    animation: slash 5s infinite ease;
                font-weight: bold;
}


